@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Lead Collection </h3>
<div data-form-block-id="b55c8d47-6565-e911-a98d-000d3a80280e"></div>
<script src="https://mktdplp102cdn.azureedge.net/public/1.36.1052.0/static/js/form-loader.js"></script>
<div id="dKqJ9e_xZAlkx-N85i9CusXV7Lp7lD2fMNbmdXWt5T7M"></div>
<script language="javascript" type="text/javascript">(function (id, f, t, ws, ms_tr_il_08, ms_tr_il_w_01) { var tr = function (cb) { var count = 0; var callback = function () { if (count == 0) { count++; if (w) { w.w(id, t, cb); } } }; var ts = document.createElement('script'); ts.src = ws; ts.type = 'text/javascript'; ts.onload = callback; ts.onreadystatechange = function () { if (this.readyState == 'complete' || this.readyState == 'loaded') { callback(); } }; var head = document.getElementsByTagName('head')[0]; head.appendChild(ts); }; if (typeof ms_tr_il_08 === 'function') { if (ms_tr_il_w_01 === null) { tr(function () { ms_tr_il_08(id, f, t); }); } else { ms_tr_il_w_01.w(id, t, function (websiteVisitedParams) { ms_tr_il_08(id, f, t, websiteVisitedParams); }); } } else { tr(); } })('KqJ9e_xZAlkx-N85i9CusXV7Lp7lD2fMNbmdXWt5T7M', 'https://9a4f69ee56b84cd4bc74a0ea6870b9fa.svc.dynamics.com/f', 'https://9a4f69ee56b84cd4bc74a0ea6870b9fa.svc.dynamics.com/t', 'https://9a4f69ee56b84cd4bc74a0ea6870b9fa.svc.dynamics.com/t/w', typeof ms_tr_il_08 === "undefined" ? null : ms_tr_il_08, typeof ms_tr_il_w_01 === "undefined" ? null : ms_tr_il_w_01);</script>