<!DOCTYPE html>
<html lang="en-US" data-lang="en-US" crm-lang="en-US" crm-lcid="1033">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Website under maintenance</title>
</head>
<body>
    <h1 style="text-align:center">CRM Portal under maintenance</h1>
    <p>The Portal website <a href="https://ac.microsoftcrmportals.com">https://ac.microsoftcrmportals.com</a> is currently undergoing scheduled maintenance. We should be back shortly.</p>
    <p>Note for administrators: The custom page for maintenance mode could not be displayed due to configuration errors.</p>
</body>
</html>
